/* General */
html {
  scroll-behavior: smooth;
}

:root {
  --main-color: #0cb8b6;
  --main-transition: 0.3s;
  --main--padding: 100px;
}

* {
  margin: 0;
  padding: 0;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

a {
  text-decoration: none;
}
/* Navbar */
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title {
  font-size: 35px;
  color: #807979;
  transition: var(--main-transition);
}

.title:hover {
  color: rgba(0, 0, 0, 0.699);
}

.logo {
  display: flex;
  align-items: center;
}

.nav-logo {
  width: 100px;
}

@media (max-width: 991px) {
  .nav-logo {
    width: 80px;
  }
  .title {
    font-size: 28px;
  }
}

.nav-ul {
  display: flex;
  gap: 40px;
  padding-right: 50px;
  font-size: 20px;
}

@media (max-width: 991px) {
  .nav-ul {
    gap: 40px;
    font-size: 16px;
  }
}

.nav-ul li {
  list-style: none;
}

.nav-ul > li > a {
  color: #807979;
  position: relative;
}

.nav-ul > li > a::before {
  content: "";
  position: absolute;
  width: 0;
  height: 3px;
  left: 0;
  bottom: -5px;
  background-color: var(--main-color);
}

.nav-ul > li > a:hover {
  transition-duration: var(--main-transition);
  color: black;
}

.nav-ul > li > a:hover::before {
  transition-duration: var(--main-transition);
  width: 100%;
}
/* main landing */
.main-landing {
  background-color: var(--main-color);
  padding-top: var(--main--padding);
  background-image: url("../../Images/Home/background.png");
  background-position: right;
  background-size: contain;
  background-repeat: no-repeat;
  height: calc(100vh - 100px);
  overflow: hidden;
}
.main-landing .main-landing-text {
  color: white;
  width: 500px;
}
.main-landing .container h2 {
  font-size: 35px;
  margin-bottom: 50px;
}

.main-landing .container {
  display: flex;
  justify-content: space-between;
}

.main-landing .container .main-landing-photo {
  width: 300px;
}

.main-landing .main-landing-text p:first-of-type {
  margin-bottom: 30px;
  font-size: 23px;
  font-weight: bold;
}

.main-landing .main-landing-text p:last-of-type {
  font-size: 23px;
  font-weight: bold;
  margin-bottom: 70px;
}

.main-landing .main-landing-text .login-register {
  background-color: white;
  cursor: pointer;
  padding: 15px 30px;
  margin-right: 30px;
  color: #30c3c1;
  border-radius: 10px;
  font-weight: bold;
  font-size: 20px;
  transition-duration: var(--main-transition);
}
.main-landing .main-landing-text .login-register:hover {
  color: white;
  background-color: #212121;
}

/* Features */
.features {
  padding: 80px 0;
}

.features .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px;
}

.features .container .feature-card {
  border: 1px solid #e6e6e6;
  border-top: var(--main-color) 4px solid;
  text-align: center;
  padding: 30px;
  transition: 0.3s;
}

.features .container .feature-card:hover {
  translate: 0px -10px;
  box-shadow: 0 2px 15px rgb(0 0 0 / 20%);
}

.features .container .feature-card img {
  width: 230px;
  height: 230px;
  margin: 30px 0;
  border-radius: 100%;
  border: 2px solid #e6e6e6;
}

.features .container .feature-card p {
  color: #777;
  line-height: 1.8;
  font-size: 18px;
}

/* About */
.about {
  background-color: var(--main-color);
  padding: 80px 0;
  color: white;
}

.about .container {
  display: flex;
  gap: 100px;
}

.about .container h2 {
  font-size: 30px;
  margin-bottom: 20px;
}

.about .container p {
  font-size: 20px;
  margin-bottom: 15px;
}

.about .container .info,
.about .container .socials {
  flex: 1;
  text-align: center;
}

.about .container .info p {
  line-height: 1.8;
}

.about .container .socials a {
  color: white;
}

.about .container .socials i {
  font-size: 25px;
  margin-right: 20px;
  transition: 0.3s;
}

.about .container .socials i:hover {
  color: #294d61;
}

/* Footer */
.footer {
  background-color: #212121;
  padding: 30px 0;
  text-align: center;
  color: white;
}

.footer .footer-logo {
  width: 100px;
}

.footer .container div {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Mobile */
@media (max-width: 769px) {
  .header .nav-ul,
  .main-landing,
  .features,
  .about {
    display: none;
  }
  nav {
    justify-content: center;
  }
}

.mobile {
  background-color: var(--main-color);
  padding: 125px 0;
  height: calc(100vh - 258px);
  text-align: center;
}

@media (min-width: 770px) {
  .mobile {
    display: none;
  }
}

.mobile p {
  color: white;
  font-size: 28px;
  line-height: 1.8;
  margin-bottom: 20px;
}

.mobile img {
  width: 150px;
  margin-right: 10px;
}

.register-access {
  position: relative;
}

.register-access:hover ul {
  display: block;
}

.register-access ul {
  position: absolute;
  font-size: 15px;
  list-style: none;
  color: white;
  background-color: white;
  width: 100%;
  border-radius: 10px;
  text-align: center;
  top: -75px;
  display: none;
}

.register-access ul li {
  padding: 10px 20px;
  transition: 0.5s;
}
.register-access ul li:hover {
  background-color: #212121;
  border-radius: 10px;
}

.register-access ul li a {
  color: var(--main-color);
}

.register-access ul li a:hover {
  color: white;
}

a.go-down {
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 28px;
  color: white;
}

a.go-down i {
  animation: bouncing 1.5s infinite;
}

@keyframes bouncing {
  0%,
  10%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }

  40%,
  60% {
    transform: translateY(-15px);
  }
}
