ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.page {
  display: flex;
  background-color: #fff;
  border-top: 2px solid #e6e6e6;
}

.sidebar {
  width: 270px;
  background-color: var(--main-color);
  padding: 20px;
  text-align: center;
  color: #ffff;
  margin-right: 40px;
  min-height: 100vh;
}

.sidebar h2 img {
  max-width: 100%;
}
.sidebar .doc-information {
  margin: 40px auto;
}
.sidebar .doc-information img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}
.sidebar .doc-information h3 {
  font-size: 27px;
  padding: 15px 0;
}
.sidebar .doc-information span {
  font-size: 15px;
  display: block;
  margin-bottom: 30px;
}
.sidebar .doc-information a {
  color: #fff;
}
.sidebar .doc-information a i {
  margin-right: 5px;
}

.content {
  flex: 1;
  padding: 0 30px;
}

.doctor-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  width: 95%;
  margin-bottom: 30px;
}
.doctor-header h2 {
  font-size: 40px;
  color: var(--main-color);
}
.doctor-header input {
  padding: 10px 50px;
  background-color: #d9d9d9;
  border: 1px solid transparent;
  border-radius: 10px 0 0 10px;
  width: 350px;
  position: relative;
}

.doctor-header input:focus{
    outline: none;
}

.doctor-header input:focus::placeholder{
    opacity: 0;
    transition: 0.5s;
}

.doctor-header .search {
  display: flex;
}
.doctor-header .search i {
  padding: 12px 20px;
  background-color: var(--main-color);
  border-radius: 0 10px 10px 0;
  color: #fff;
}


.doctor-page-container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
    gap: 30px 50px;
    width: 95%;
    padding: 15px 0;
    margin-bottom: 15px;
}
.doctor-page-container .box{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border-radius: 15px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 400px;
    cursor: pointer;
    transition: 0.3s;
}

.doctor-page-container .box:hover{
  translate: 0px -10px;
  box-shadow: 0 2px 15px rgb(0 0 0 / 20%);
}
.doctor-page-container .box .data{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 15px 5px;

}
.doctor-page-container .box .data img{
    width: 122px;
    height: 122px;
    margin-right: 12px;
    border-radius: 100%;
}
.doctor-page-container .box .data h3{
    display: block;
    min-width: 112px;
    font-weight: bold;
}
.doctor-page-container .box .data span{
    font-weight: bold;
}

.search-button{
  border: none;
  cursor: pointer;
}