/* Shared */
.hidden {
  display: none;
}

.main-input {
  border: none;
  border-bottom: 2px solid var(--main-color);
  font-size: 16px;
}

.main-input:focus {
  outline: none;
}

.page-body {
  background-color: white;
  width: 750px;
  padding: 20px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}

/* Page 1 */

.p1-first-row {
  display: flex;
  gap: 50px;
  margin-bottom: 15px;
  font-size: 18px;
}

.p1-first-row .lhs,
.p1-first-row .rhs {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.p1-first-row span {
  margin-bottom: 8px;
}

.p1-second-row {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  font-size: 18px;
}

.p1-second-row span {
  margin-bottom: 8px;
}

.p1-third-row {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  font-size: 18px;
  position: relative;
}

.p1-third-row span {
  margin-bottom: 8px;
}

.pass-eye {
  position: absolute;
  right: 5px;
  top: 50%;
}

.p1-forth-row {
  display: flex;
  gap: 50px;
  margin-bottom: 15px;
  font-size: 18px;
}

.p1-forth-row .lhs,
.p1-forth-row .rhs {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.p1-forth-row .rhs div input {
  margin-right: 10px;
}

.p1-forth-row .rhs div span:first-of-type {
  margin-right: 15px;
}

.p1-forth-row span {
  margin-bottom: 8px;
}

.p1-fifth-row {
  display: flex;
  gap: 50px;
  margin-bottom: 15px;
  font-size: 18px;
}

.p1-fifth-row .lhs,
.p1-fifth-row .rhs {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.p1-fifth-row .rhs span {
  margin-bottom: 8px;
}

.p1 .first-button {
  padding: 10px 25px;
  font-size: 15px;
  color: white;
  background-color: var(--main-color);
  border: none;
  border-radius: 30px;
  cursor: pointer;
  margin-left: auto;
}

/* Page 2 */

.p2-first-row {
  display: flex;
  gap: 50px;
  margin-bottom: 15px;
  font-size: 18px;
}

.p2-first-row .lhs,
.p2-first-row .rhs {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.p2-first-row .main-span {
  margin-bottom: 8px;
}

.p2-first-row .lhs div input {
  margin-right: 10px;
}

.p2-first-row .lhs div span:first-of-type {
  margin-right: 15px;
}

.p2-second-row {
  display: flex;
  gap: 50px;
  margin-bottom: 15px;
  font-size: 18px;
}

.p2-second-row .lhs,
.p2-second-row .rhs {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.p2-second-row span {
  margin-bottom: 8px;
}

.p2-third-row {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  font-size: 18px;
}

.p2-third-row span {
  margin-bottom: 8px;
}

.p2-forth-row {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  font-size: 18px;
}

.p2-forth-row span {
  margin-bottom: 8px;
}

.controls {
  display: flex;
  justify-content: space-between;
}

.next-button {
  padding: 10px 25px;
  font-size: 15px;
  color: white;
  background-color: var(--main-color);
  border: none;
  border-radius: 30px;
  cursor: pointer;
}

.previous-button {
  padding: 10px 25px;
  font-size: 15px;
  color: white;
  background-color: var(--main-color);
  border: none;
  border-radius: 30px;
  cursor: pointer;
}

/* Page 3 */
.p3-first-row {
  display: flex;
  gap: 50px;
  margin-bottom: 15px;
  font-size: 18px;
}

.p3-first-row .rhs,
.p3-first-row .lhs {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.p3-first-row .rhs span,
.p3-first-row .lhs span {
  margin-bottom: 8px;
}

.p3-first-row .lhs div input {
  margin-right: 10px;
}

.p3-first-row .lhs div span:first-of-type {
  margin-right: 15px;
}

.p3-second-row {
  display: flex;
  gap: 50px;
  align-items: center;
  margin-bottom: 15px;
  font-size: 18px;
}

.special-h2 {
  background-color: var(--main-color);
  color: white;
  width: 100%;
  padding: 15px;
  padding-left: 25px;
  font-size: 22px;
}

.special-page-body {
  background-color: white;
  width: 750px;
  padding: 20px;
}

.p3-third-row {
  display: flex;
  gap: 50px;
  align-items: center;
  margin-bottom: 15px;
  font-size: 18px;
}

.p3-third-row .rhs,
.p3-third-row .lhs {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.p3-third-row .rhs span,
.p3-third-row .lhs span {
  margin-bottom: 8px;
}

.p3-third-row .lhs div input {
  margin-right: 10px;
}

.p3-third-row .lhs div span:first-of-type {
  margin-right: 15px;
}

.p3-fourth-row {
  display: flex;
  gap: 50px;
  align-items: center;
  margin-bottom: 15px;
  font-size: 18px;
}

.p3-fourth-row .rhs,
.p3-fourth-row .lhs {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.p3-fourth-row span {
  margin-bottom: 8px;
}

.bloodtype-select {
  display: block;
  width: 200px;
  padding: 8px 12px;
  font-size: 16px;
  font-weight: 600;
  border: 2px solid #294d61;
  color: #294d61;
}

.bloodtype-select:focus{
  outline: none;
}

.sixth-row{
  display: flex;
  justify-content: space-between;
  position: relative;
}

.sixth-row span{
  position: absolute;
  left: 275px;
  font-size: 18px;
  color: #d9534f;
}