.li-1{
    position: relative;
}

.li-1:hover > .login-list{
    display: flex;
}

.login-list{
    position: absolute;
    bottom: -110px;
    right: -10px;
    display: none;
    flex-direction: column;
    background-color: #f6f6f6;
    border: 1px solid #ddd;
}

.login-list li {
    border-bottom: 1px solid #ddd;
    text-align: left;
}

.login-list li a{
    padding: 15px 25px;
    font-size: 18px;
    color: #807979;
    transition: 0.5s;
    display: block;
}

.login-list li a:hover{
    color: black;
}