.li-1{
    position: relative;
}

.li-1:hover > .login-list{
    display: flex;
}

.login-list{
    position: absolute;
    bottom: -110px;
    right: -10px;
    display: none;
    flex-direction: column;
}

.login-list li a{
    padding: 9px 14px;
    font-size: 18px;
    color: white;
    transition: 0.5s;
    display: block;
    background-color: #6da5c0;
    border: none;
}

.login-list li:first-of-type a{
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.login-list li:last-of-type a{
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.login-list li a:hover{
    background-color: #294D61;
}