@tailwind base;
@tailwind components;
@tailwind utilities;

.login {
  height: calc(100vh - 260px);
}

.login-card {
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.login-image {
  box-shadow: 7px 0px 0px 0px rgba(0, 0, 0, 0.267);
}

.card-shadow{
  box-shadow: (0, 0, 0, 0.16) 0px 1px 4px;
}